<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    <title>Team Notables for {{.Today}}</title>
  </head>

  <body style="background-color: #fff;color: #444;font-family: Helvetica,Arial,sans-serif;font-size: 15px;line-height: 150%;margin: 0;min-width: 100% !important;padding: 0;width: 100% !important;">
    <center>
      <table align="center" border="0" cellpadding="0" cellspacing="0" id="bodyTable" style="background-color: #fff;border-collapse: separate !important;color: #444;font-family: Helvetica,Arial,sans-serif;font-size: 15px;line-height: 150%;margin: auto;max-width: 620px;padding: 0 10px 0 10px;width: auto;">
        <tr>
          <td align="left" valign="top" id="bodyCell">
            <table align="left" border="0" cellpadding="0" cellspacing="0" id="templateContainer" style="border-collapse: separate !important;margin: 0 0 2em 0;padding: 0;width: 100%;">

              <tr>
                <td align="left" valign="top">
                  <h1 style="color: #333;display: block;font-family: Helvetica,Arial,sans-serif;font-size: 24px;font-weight: bold;line-height: 125%;margin: 1em 0 0 0;padding: 0;">Team Notables for {{.Today}}</h1>
                </td>
              </tr>

              {{range .NotesByCategory}}

                <tr>
                  <td align="left" valign="top" class="headerContent">
                    <div style="background: #74c4a1;border-radius: 4px;color: #fff;font-weight: bold;margin-top: 2em;padding: 10px 15px 10px 15px;">{{.Title}}</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table border="0" cellspacing="0" cellpadding="0" class="bodyContent" style="margin: 0;padding: 0;width: 100%;border-collapse: separate !important;">
                    {{range .Notes}}
                      <tr>
                        <td align="left" valign="top" width="68" style="border-bottom: 1px solid #ddd;padding: 1em 0 1em 0;">
                          <img src="{{.AvatarURL}}" height="48" width="48" style="border: 0;border-radius: 4px;display: block;">
                        </td>
                        <td align="left" valign="top" style="border-bottom: 1px solid #ddd;padding: 1em 0 1em 0;">
                          <div><strong>{{.Author}}</strong></div>
                          {{.Text}}
                        </td>
                      </tr>
                     {{end}}
                    </table>
                  </td>
                </tr>

              {{end}}

            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
